{%- if breadcrumbs and breadcrumbs.length -%}
    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb" style="background-color: #ffffff00">
        <ol class="nhsuk-breadcrumb__list">
            {%- for breadcrumb in breadcrumbs | reverse -%}
                <li class="nhsuk-breadcrumb__item">
                    <a class="nhsuk-breadcrumb__link" href="{{ breadcrumb.url | url }}">{{ breadcrumb.data.title }}</a>
                </li>
            {%- endfor -%}
        </ol>
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink"></a>
        </p>
    </nav>
{%- endif -%}

<div style="padding-bottom: 48px;"></div>
