<div id="contact-us-form" class="nhsuk-panel nhsuk-u-margin-bottom-2 nhsuk-u-margin-top-5">
    <h2 class="nhsuk-heading-m app-feedback__heading">Did you find what you were looking for?</h2>
    <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
            <div class="nhsuk-radios">
                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="contact-us-form__response-yes" name="response" type="radio" value="yes">
                    <label class="nhsuk-label nhsuk-radios__label" for="contact-us-form__response-yes">
                        Yes
                    </label>
                </div>
                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="contact-us-form__response-no" name="response" type="radio" value="no">
                    <label class="nhsuk-label nhsuk-radios__label" for="contact-us-form__response-no">
                        No
                    </label>
                </div>
            </div>
        </fieldset>
    </div>
    <a id="contact-us-form__submit" class="nhsuk-button">Continue</a>
</div>
<script src={{ "/js/contact-us-form.js" | url }}></script>
