<div id="nhsuk-cookie-banner" tabindex='-1' style="display:none">
  <div>
    <div id="cookiebanner" class="nhsuk-cookie-banner">
      <div class="page-section">
        <div class="nhsuk-width-container">
          <h4 class="nhsuk-heading-s cookie-heading" tabindex='-1'>Cookies on NHS login</h4>
          <p tabindex='-1'>
            Cookies collect information about how you use NHS login to help us
            make our site work as well as possible.
          </p>
          <p tabindex='-1'>
            We would also like to use analytics cookies to improve our service.
          </p>

          <button class="nhsuk-button full-width" href="#" id="nhsuk-cookie-banner__link_accept">
            Accept all cookies
          </button>

          <button class="nhsuk-button full-width" href="#" id="nhsuk-cookie-banner__link">
            Choose your cookies
          </button>
        </div>
      </div>
    </div>

    <div id="nhsuk-cookie-confirmation-banner" class="nhsuk-success-banner" role="banner" style="display:none">
      <div class="page-section" style="padding: 0px !important;">
        <div class="nhsuk-width-container">
          <p class="nhsuk-body accepted-cookies" tabindex='-1'>
            You can change your cookie settings at any time using our
            <a href="https://access.login.nhs.uk/cookies" class="nhsuk-link">cookies page</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
