<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <ul class="nhsuk-footer__list">
        <li class="nhsuk-footer__list-item">
          <a class="nhsuk-footer__list-item-link" href="https://digital.nhs.uk/services/nhs-login">
            NHS login for partners and developers
          </a>
        </li>
        <li class="nhsuk-footer__list-item">
          <a class="nhsuk-footer__list-item-link" href="https://access.login.nhs.uk/terms-and-conditions">
            Our Policies
          </a>
        </li>

      </ul>
      <p class="nhsuk-footer__copyright">© Crown copyright</p>
    </div>
  </div>
</footer>