<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-site-verification" content="6Qm3LCuWz9g_8OTWyr_QoGJGPhwVWx49ouloSmsMyPk"/>
<meta name="Description" content="The NHS login help centre is where you can find helpful information, guidance, and support for issues with NHS login.">

<!-- Favicons -->
<link rel="shortcut icon" href="{{ "/images/favicons/favicon.ico" | url }}" type="image/x-icon">
<link rel="apple-touch-icon" href="{{ "/images/favicons/apple-touch-icon-180x180.png" | url }}">
<link rel="mask-icon" href="{{ "/images/favicons/favicon.svg" | url }}" color="#005eb8">
<link rel="icon" sizes="192x192" href="{{ "/images/favicons/favicon-192x192.png" | url }}">

<link rel="stylesheet" href="{{ "/css/nhs-toolkit.min.css" | url }}">
<link rel="stylesheet" href="{{ "/css/nhs-cookie-banner.css" | url }}">
<link rel="stylesheet" href="{{ "/css/form.css" | url }}">
<script type="text/javascript">
const Environment = {{ environment | dump | safe }}
const PageInfo = {
    pageName: 'nhs:cid:help-centre:' + '{{ pageName | safe }}'.toLowerCase()
}
</script>
<script src={{ "/js/utils.js" | url }}></script>
<script src={{ "/js/consent.js" | url }}></script>
<script src={{ "/js/analytics.js" | url }}></script>
<script src={{ "/js/form-builder.js" | url }}></script>
<script src={{ "/js/validators.js" | url }}></script>
<title>{{ title }}</title>