<!doctype html>
<html lang="en">
    <head>
        {% include "head.njk" %}
    </head>
    <body>
        {% include "cookie-banner.njk" %}
        {{ content | safe }}
        <script src={{ "/js/back-link.js" | url }}></script>
        <script src={{ "/js/cookie-banner.js" | url }}></script>
    </body>
</html>
