<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="google-site-verification" content="6Qm3LCuWz9g_8OTWyr_QoGJGPhwVWx49ouloSmsMyPk" />
        <link rel="stylesheet" href="{{ "/css/nhs-toolkit.min.css" | url }}">
        <link rel="stylesheet" href="{{ "/css/nhs-cookie-banner.css" | url }}">
        <title>{{ title }}</title>
    </head>
    <body>
        {% include "cookie-banner.njk" %}
        {{ content | safe }}
        <script src={{ "/js/back-link.js" | url }}></script>
    </body>
</html>
