---
layout: default
---
{% include "header.njk" %}
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent" role="main">
        <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb" style="background-color: #ffffff00">
            <ol class="nhsuk-breadcrumb__list">
                <li class="nhsuk-breadcrumb__item">
                    <a class="nhsuk-breadcrumb__link" href="{{ "/" | url }}">Help centre home</a>
                </li>
                <li class="nhsuk-breadcrumb__item">
                    <a class="nhsuk-breadcrumb__link" href="{{ collections.categoryData[tags].url | url}}">
                        {{ collections.categoryData[tags].title }}
                    </a>
                </li>
            </ol>
            {# <p class="nhsuk-breadcrumb__back">
                <a class="nhsuk-breadcrumb__backlink" href="{{ collections.categoryData[tags].url | url }}">Back to {{ collections.categoryData[tags].title }}</a>
            </p> #}
        </nav>

        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
                <h1>
                    {{ title }}
                    <span class="nhsuk-caption-xl nhsuk-caption--bottom"></span>
                </h1>
                {{ content | safe }}
                <hr/>
                <h2>Related issues</h2>
                <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
                    <h2 class="nhsuk-u-visually-hidden">Contents</h2>
                    <ol class="nhsuk-contents-list__list">
                        {%- for post in collections[tags] -%}
                            {%- if post.url !== page.url -%}
                                <li class="nhsuk-contents-list__item">
                                    <a class="nhsuk-contents-list__link" href="{{ post.url | url }}">{{ post.data.title }}</a>
                                </li>
                                {%- endif-%}
                            {%- endfor -%}
                        </ol>
                    </nav>
                </div>
            </div>
        </main>
    </div>
