---
layout: default
---
{% include "layouts/header.njk" %}
<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent" role="main">
    <div class="nhsuk-grid-row">
      <h1>{{title}}</h1>
       {%- if  collections.hubs[page.url].pages.length == 0 -%}
            <h3>Please add items to hub before publishing</h3>
        {%- endif -%}
      <div class="nhsuk-grid-column-full">
        <div class="nhsuk-grid-row nhsuk-panel-group nhsuk-u-margin-bottom-0"}
          {%- for page in collections.hubs[name].pages -%}
            <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item nhsuk-u-margin-0">
              <div class="nhsuk-promo">
                <a class="nhsuk-promo__link-wrapper" href="{{ page.url | url }}">
                  <div class="nhsuk-promo__content">
                    <h2 class="nhsuk-promo__heading">{{page.data.title}}</h2>
                    <p class="nhsuk-promo__description">
                      {{ page.data.subtitle }}</p>
                  </div>
                </a>
              </div>
            </div>
          {%- endfor -%}
        </div>
        <div class="nhsuk-u-reading-width">
          <p class="nhsuk-u-margin-bottom-0">
              Visit the
              <a href="https://service-manual.nhs.uk">NHS digital service manual</a>
              for guidance and examples.
            </p>
        </div>
      </div>
    </div>
  </main>
</div>
{% include "layouts/footer.njk" %}
