<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ "/css/fake-google.css" | url }}">
        <title>Google</title>
    </head>
    <body>
        <a href="{{ "/" | url }}">
            <img src="{{"/images/fake-google/deletenhslogin/step-3.jpg" | url}}" />
        </a>
    </body>
</html>
