.app-search__contents {
    margin-top: -24px;
    margin-bottom: 30px;
    border-radius: 5px;
    position: relative;
    z-index: 11;
    display: flex;
}

.app-search__contents .app-search__input {
    -webkit-appearance: listbox;
    background-color: #fff!important;
    border-bottom: 1px solid #aeb7bd;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-left: 1px solid #aeb7bd;
    border-right: 0;
    border-top: 1px solid #aeb7bd;
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    flex-grow: 2;
    font-size: inherit;
    height: 52px;
    margin: 0;
    outline: 0;
    padding: 0 10px;
    width: 100%;
}

.app-search__contents .app-search__submit {
    background-color: #007f3b;
    border: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 4px;
    cursor: pointer;
    float: right;
    font-size: inherit;
    height: 52px;
    line-height: inherit;
    margin: 0;
    outline: 0;
    padding: 7px 7px 0;
}

.app-search__contents .app-search__submit .icon__search {
    fill: #fff;
    height: 38px;
    width: 38px;
}

.nhsuk-list--border li {
    border-bottom: 1px solid #d8dde0;
}

#lunr_search_content ul h2 {
    font-weight: 400;
    font-size: 19px
}