---
layout: layouts/base.njk
title: Contact Us
excludeFromSearch: true
---
{% include "header.njk" %}
<div class="nhsuk-width-container ">
    <main class="nhsuk-main-wrapper " id="maincontent" role="main">
        <div class="nhsuk-grid-row">
            <form id="contact-us-form" class="nhsuk-grid-column-two-thirds">
                <h2 class="nhsuk-app-contact-panel__heading">Contact us</h2>
                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="one-half">
                        Name
                    </label>
                    <input class="nhsuk-input nhsuk-u-width-one-half" id="one-half" name="one-half" type="text">
                </div>
                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="two-thirds">
                        Email address
                    </label>
                    <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint" id="email-form">
                        <span class="nhsuk-hint" id="contact-hint">
                            This is the email address we will contact you on.
                        </span>
                        <div id="email" style="display: none">
                            <input class="nhsuk-input nhsuk-u-width-two-thirds" id="two-thirds" name="two-thirds" type="text">
                        </div>
                    </fieldset>
                </div>

                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="error-code-select">
                        Problem or issue
                    </label>
                    <select class="nhsuk-select" id="error-code-select" name="error-code-select">
                        {%- for link in collections.contactUsLinks -%}
                            <option value="{{link.errorCode}}">{{link.errorCode}}: {{link.linkText}}</option>
                        {%- endfor -%}
                    </select>
                </div>

                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="example-longer">
                        Message
                    </label>
                    <span class="nhsuk-hint" id="example-longer-hint">
                        Enter as much detail as you can, including any information we may have asked you to provide.
                    </span>
                    <textarea class="nhsuk-textarea" id="example-longer" name="example-longer" rows=" 6 "
                        aria-describedby="example-longer-hint"></textarea>
                </div>

                <button class="nhsuk-button" type="submit">
                    Send message
                </button>
                <!-- End of content -->
            </div>
        </div>
    </main>
</div>
<script src={{ "/js/contact-page.js" | url }}></script>
{% include "footer.njk" %}
