---
layout: layouts/base.njk
title: Contact Us
pageName: contact-us
excludeFromSearch: true
---
{% include "header.njk" %}
<div class="nhsuk-width-container ">
    <main class="nhsuk-main-wrapper " id="maincontent" role="main">
        <div class="nhsuk-grid-row">
            <form id="contact-us-form" class="nhsuk-grid-column-two-thirds nhs-help-centre__form">
                <h2 class="nhsuk-app-contact-panel__heading">Contact us</h2>
            
                <div class="nhsuk-error-summary nhsuk-error-summary--hidden" aria-labelledby="error-summary-title"
                    role="alert" tabindex="-1">
                    <h2 class="nhsuk-error-summary__title">
                        There is a problem
                    </h2>
                    <div class="nhsuk-error-summary__body">
                        <ul class="nhsuk-list nhsuk-error-summary__list"></ul>
                    </div>
                </div>

                <p>Use this form to get help or advice for a problem or issue with NHS login. The NHS login team cannot
                    help with medical problems.
                </p>

                <details class="nhsuk-details">
                    <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text0" tabindex="-1">
                        <span class="nhsuk-details__summary-text">
                            What to do if you need medical help
                        </span>
                    </summary>
                    <div class="nhsuk-details__text" id="nhsuk-details__text0">
                        <span class="nhsuk-u-visually-hidden">Urgent advice: </span>
                        <p>If you think it's a life-threatening emergency:</p>
                        <ul>
                            <li>
                                <a href="tel: 999">call 999</a>
                            </li>
                        </ul>
                        <span class="nhsuk-u-visually-hidden">Non-urgent advice: </span>
                        <p>If you do not think it's an emergency:</p>
                        <ul>
                            <li><a href="tel:111">call 111</a> or go to <a href="https://111.nhs.uk">111 online</a></li>
                            <li>speak to a <a href="https://www.nhs.uk/service-search">pharmacist, GP or dentist</a>
                            </li>
                            <li>search the <a href="https://www.nhs.uk/conditions/"> NHS website health A-Z</a> for more
                                advice about your condition</li>
                        </ul>
                    </div>
                </details>

                <div class="nhsuk-form-group" id="name-form-control">
                    <label class="nhsuk-label" for="name">
                        Full name
                    </label>
                    <span class="nhsuk-error-message nhs-help-centre__form-control-error"></span>
                    <input class="nhsuk-input nhsuk-u-width-one-half nhs-help-centre__form-control-input" id="name"
                        name="name" type="text">
                </div>

                <div class="nhsuk-form-group" id="email-form-control">
                    <label class="nhsuk-label" for="email">
                        Email address
                    </label>
                    <span class="nhsuk-hint">
                        This should be the email address you use for NHS login.
                    </span>
                    <span class="nhsuk-error-message nhs-help-centre__form-control-error"></span>
                    <input class="nhsuk-input nhsuk-u-width-two-thirds nhs-help-centre__form-control-input" id="email"
                        name="email" type="text">
                </div>

                <div class="nhsuk-form-group" id="client-form-control">
                    <label class="nhsuk-label" for="client">
                       Please select the website or app you are trying to visit
                    </label>
                    <span class="nhsuk-error-message nhs-help-centre__form-control-error"></span>
                    <select class="nhsuk-select nhs-help-centre__form-control-input" id="client" name="client">
                        <option selected value="">Select an option</option>
                        <option value="visit_i_am_not_trying_to_visit_a_website_or_app">I am not trying to visit a website or app</option>
                        {%- for value, name in clients.clients -%}
                        <option value="{{value}}">{{name}}</option>
                        {%- endfor -%}
                        <option value="visit_the_website_or_app_i_am_trying_to_visit_is_not_on_the_list">
                            The website or app I am trying to visit is not on this list
                        </option>
                    </select>
                </div>
                
                <div class="nhsuk-form-group" id="message-form-control">
                    <label class="nhsuk-label" for="message">
                        Describe the problem
                    </label>
                    <span class="nhsuk-hint">
                        Do not include personal or medical information like your NHS number or medical history.
                    </span>
                    <span class="nhsuk-error-message nhs-help-centre__form-control-error"></span>
                    <textarea class="nhsuk-textarea nhs-help-centre__form-control-input" id="message" name="message"
                        rows="6" aria-describedby="message-hint"></textarea>
                </div>
                
                <button class="nhsuk-button submit-button">
                    Send message
                </button>
            </form>
        </div>
    </main>
</div>
<script type="text/javascript">
const ContactUsLinks = {{ collections.contactUsLinks | dump | safe }}
</script>
<script src={{ "/js/contact-page.js" | url }}></script>
{% include "footer.njk" %}
