---
layout: layouts/base.njk
title: Contact Us
excludeFromSearch: true
---
{% include "header.njk" %}
<div class="nhsuk-width-container ">
    <main class="nhsuk-main-wrapper " id="maincontent" role="main">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
                <h2>Message sent</h2>
                <p>Thanks for the message, we will look into this for you.</p>
            </div>
        </div>
    </main>
</div>
{% include "footer.njk" %}