---
layout: layouts/base.njk
title: Contact Us
excludeFromSearch: true
---
{% include "header.njk" %}
<div class="nhsuk-width-container ">
    <main class="nhsuk-main-wrapper " id="maincontent" role="main">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
                <h2>Unable to send message</h2>
                <p>There may be a problem with your internet connection, or a technical problem on our side.</p>
                <p><a id="back-button" href="/contact">Please go back and try sending your message again.</a></p>
                <p>The information you entered will still be there.</p>
            </div>
        </div>
    </main>
</div>
{% include "footer.njk" %}
<script type="text/javascript">
    // needed to preseve the information the user entered previously
    document.querySelector('#back-button').addEventListener('click', (e) => {
        e.preventDefault();
        window.history.back();
    });
</script>