---
layout: layouts/base.njk
title: NHS login Help Centre
excludeFromSearch: true
---
<section class="nhsuk-hero">
  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero__wrapper">
          <h1 class="nhsuk-u-margin-bottom-3">NHS login Help Centre</h1>
          {# <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">Rapidly create HTML prototypes of NHS.UK services.</p> #}
        </div>
      </div>
    </div>
  </div>
</section>
<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent" role="main">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="nhsuk-grid-row nhsuk-panel-group nhsuk-u-margin-bottom-0">
          {%- for page in collections.hubs.home.pages -%}
            <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item nhsuk-u-margin-0">
              <div class="nhsuk-promo">
                <a class="nhsuk-promo__link-wrapper" href="{{ page.url | url }}">
                  <div class="nhsuk-promo__content">
                    <h2 class="nhsuk-promo__heading">{{page.data.title}}</h2>
                    <p class="nhsuk-promo__description">
                      {{ page.data.subtitle }}</p>
                  </div>
                </a>
              </div>
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
  </main>
</div>
